/* Global styles */
body {
  min-height: 100vh;
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-around;
  align-items: center;
  color: white;
  background: linear-gradient(#ff84a2, #fa8442);
  flex-wrap: wrap;
}

a {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  background: #84b9ff;
  margin: 2rem 0;
  display: inline-block;
  border-radius: 5px;
}

h1 {
  font-size: 6rem;
  padding: 2rem 0;
}

h3 {
  font-weight: 400;
  padding: 1rem 0rem;
}

img {
  width: 100%;
  height: auto;
}

/* Custom styles */
.img-container {
  flex: 1 1 40rem;
}

.text-content {
  padding: 5rem;
  flex: 2 1 40rem;
}

/* Media queries */
@media screen and (max-width: 1422px) {
  .text-content {
    text-align: center;
  }
}
