.profile-container {
  background: linear-gradient(#c690cf, #473e49);
}

.btn-container a {
  text-align: center;
  margin-bottom: 3rem;
  width: 15rem;
}

.btn-container {
  justify-content: center;  
  align-items: center;
}

/*.buttons {
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: center;
}*/

#logout {
  background: #c690cf;
}

.status-field .success {
  color: white;
}

#delete-data a {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  padding: 0.5rem 0.8rem;
  color: black;
}

.button {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    padding: 0.2rem 0.4rem;
    color: black;
  }
  
.profile-content h3 {
  padding-bottom: 4rem;
}

.search-form button {
  background: #5c258d;
}