.button{
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #4caf50;
}

.button1:hover{
    background-color: #4caf50;
    color: white;
}

.button2 {
    background-color: white;
    color: black;
    border: 2px solid #4caf50;
}

.button2:hover{
    background-color: #4caf50;
    color: white;
}

input[type=text], select {
    align-self: center;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize:vertical;
}

input[type=submit]:hover{
    background-color: #45a049;
}

.container{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}