/* Global styles */
main {
  height: 90vh;
}

form button {
  position: relative;
}

form button,
.edit-form-container a {
  outline: none;
  border: none;
  padding: 0.6rem 3rem;
  color: white;
  font-family: "poppins", sans-serif;
  font-size: 1.3rem;
  border-radius: 5px;
  margin: 3rem 2rem 0 2rem;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  word-wrap: none;
  background: #01b6aa;
}

button:hover,
.edit-form-container a:hover {
  background: #1a7f86;
}

form input {
  padding: 0.4rem 1rem;
  width: 30rem;
  border-radius: 5px;
  background: #c4c4c4;
  border: none;
  font-size: 1rem;
}

label {
  padding: 1rem 1rem 0.5rem 1rem;
  color: #424242;
}

/* Custom styles*/
.edit-form-container img {
  padding-top: 1rem;
}

.order-container {
  text-align: center;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.order-container h2 {
  color: #424242;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.profile-container {
  min-height: 90vh;
}

.edit-form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.logout-btn {
  margin: 0;
}

.edit-form {
  margin: 0;
  padding: 0;
}

#edit-name {
  padding-top: 0;
}

/* Media queries */
@media screen and (max-width: 959px) {
  .edit-form-container {
    padding: 2rem;
  }
}

@media screen and (max-width: 500px) {
  form button {
    margin-left: 12rem;
  }
}
