/* Global styles */
body {
  overflow: hidden;
  background: linear-gradient(#096473, #fcd2bf);
}

form input {
  width: 50rem;
  outline: none;
  border: none;
  font-size: 1.2rem;
  font-family: "poppins", sans-serif;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin: 2rem 2rem 0 2rem;
}

form button {
  outline: none;
  border: none;
  padding: 0.6rem 3rem;
  background: #096473;
  color: white;
  font-family: "poppins", sans-serif;
  font-size: 1.3rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  word-wrap: none;
  margin-bottom: 5rem;
  margin-top: 2rem;
}

form button:hover {
  background: #064650;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Custom styles */
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content h3 {
  margin-top: -5rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: white;
}

.name a {
  color: white;
}

.forget-img {
  width: 70%;
}

/* Media queries */
@media screen and (max-width: 1000px) {
  form input {
    width: 40rem;
  }
}

@media screen and (max-width: 600px) {
  form input {
    width: 30rem;
  }
}
