/* Global styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
}

h1 {
  font-size: 4rem;
  font-weight: 500;
}

h2 {
  font-size: 2.5rem;
  font-weight: 500;
}

body {
  font-family: "poppins";
  color: white;
  animation: landing 1s ease-in-out;
}

header {
  max-width: 90%;
  margin: auto;
}

nav {
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

header nav span {
  font-size: 1.2rem;
}

main {
  max-width: 90%;
  margin: auto;
}

main section span {
  font-size: 5rem;
}

/* Hero section */
header nav .name {
  flex: 2 1 30rem;
}

main .hero {
  display: flex;
  min-height: 90vh;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

#landing {
  min-height: 100vh;
  background: linear-gradient(#ff8e67, #dc5663);
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 30rem;
}

.cta {
  background-color: #67a4c3;
  padding: 0.6rem 3rem;
  display: inline-block;
  margin-top: 4rem;
}

.hero .text-content {
  margin: 5rem 2rem;
  flex: 2 1 30rem;
}

.hero .img-container {
  flex: 1 1 30rem;
  text-align: center;
}

.hero .img-container img {
  height: auto;
  width: auto;
  object-fit: cover;
}

.menu,
.close {
  display: none;
}

/* About section */
.about {
  min-height: 100vh;
  background: linear-gradient(#dc5663, #1c6f82);
}

/* Animations */
@keyframes landing {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Media queries */

@media screen and (max-width: 1560px) {
  .hero {
    font-size: 50%;
    text-align: center;
  }
}

@media screen and (max-width: 1510px) {
  .hero {
    font-size: 50%;
  }
}

@media screen and (max-width: 1066px) {
  .nav-links {
    position: fixed;
    flex-direction: column;
    top: 0;
    left: 100%;
    background: black;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
  }

  .menu {
    display: block;
  }

  .nav-open {
    transform: translateX(-100%);
  }
}
