.allDelete {
  background: red;
  border-radius: 0 20px 0 20px;
  width: 90px;
}

.allUpdate{
  background: green;
  border-radius: 0 20px 0 20px;
  width: 90px;
}

.allUpdate:hover {
  background: white;
}
.allDelete:hover {
  background: white;
}

.profile-container {
  background: linear-gradient(#1f4037, #99f2c8);
}

table{
  border-collapse: collapse;
  width: 90%;
  text-align: center;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

th{
  background-color: #1f4037;
  ;
  color: white;
  padding: 0.5rem;
}
tr{
  border-bottom: 1px solid #dddddd;
}

tr:last-of-type{
  border-bottom: 3px solid #1f4037;
}
tr:hover{
  color:  #99f2c8;
  font-weight: 700;
  transition: 0.6s;
  background-color: #f5f5f5;
}