.profile-container {
  background: linear-gradient(#5c258d, #4389a2);
}

.btn-container a {
  text-align: center;
  margin-bottom: 3rem;
  width: 15rem;
}

.btn-container {
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: center;
}

#logout,
#admin-edit-btn {
  background: #5c258d;
}

.status-field .success {
  color: white;
}

#delete-customer a {
  color: #424242;
  font-family: "poppins", sans-serif;
  font-size: 1.2rem;
  padding: 0.3rem 0.6rem;
}

.profile-content h3 {
  padding-bottom: 4rem;
}

.order-container h2 {
  margin-top: 1rem;
}

.pop-window {
  width: 50rem;
  height: 35rem;
  background: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-20%, -40%);
  border-radius: 10px;
  overflow: hidden;
}

.action-btn,
.customer {
  display: flex;
  flex-direction: column;
}

.customer {
  margin-top: 4rem;
}

.customer p {
  font-size: 1.6rem;
  padding-bottom: 1rem;
  font-weight: 500;
}

.action-btn button {
  margin: 0.2rem 0;
}

#back a {
  color: white;
  padding: 0.56rem 1rem;
}

#back {
  margin-left: 19.5rem;
  margin-top: 1.7rem;
}

.view-customer a {
  margin-top: 2rem;
}

table {
  text-align: center;
}

.right table th,
.right table td {
  width: 25rem;
  font-size: 1.3rem;
}

.right table th {
  background-color: #5c258d;
  color: white;
  padding: 0.5rem;
}

.right table td {
  border-bottom: 1px solid #dddddd;
  padding: 1rem;
}

tr:last-of-type {
  border-bottom: 3px solid #f45c43;
}

#delete-customer {
  outline: none;
  border: none;
  margin: 0.5rem;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  white-space: nowrap;
  font-family: "poppins", sans-serif;
  font-size: 1rem;
  border-radius: 4px;
}

.delete-customer {
  background: #ff5252;
}

#delete-customer a {
  color: white;
}

.view-customer {
  background: #4caf50;
}
