@import  "http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css";

.box
{
    position :absolute;
    top : 50%;
    bottom : 90%;
    right:30%;
    
    
    transform:translate(-50%,-50%);
    direction:rt1;

}
.box a{
    font-size: 40px;
    color :#313131;
    transition: 0.3s all;
}
.box a:hover
{
    color:#f1c40f;
}
.b1:hover ~ a
{
    color:#f1c40f;
}
.b1:hover ~ a
{
    color:#f1c40f;
}
.b1:hover ~ a
{
    color:#f1c40f;
}
.b1:hover ~ a
{
    color:#f1c40f;
}