.profile-content h3 {
  word-wrap: none;
}

.edit-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 20rem; 
}
.add {
  margin-left: 30rem;
}
.submit{
  height: 40px;
}
#imageplaceholder{
    display:block;
    width:350px;
    height:350px;
    margin: 10px auto;
    border-radius:50%;
}




form button {
  position: relative;
}

form button,
.edit-form-container a {
  outline: none;
  border: none;
  padding: 0.6rem 3rem;
  color: white;
  font-family: "poppins", sans-serif;
  font-size: 1.3rem;
  border-radius: 5px;
  margin: 2rem 2rem 0 2rem;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  word-wrap: none;
  background: #01b6aa;
}

button:hover,
.edit-form-container a:hover {
  background: #1a7f86;
}

#category {
  padding: 0.4rem 1rem;
  width: 30rem;
  border-radius: 5px;
  background: #c4c4c4;
  border: none;
  font-size: 1rem;
}

#quantity {
  padding: 0.4rem 1rem;
  width: 30rem;
  border-radius: 5px;
  background: #c4c4c4;
  border: none;
  font-size: 1rem;
}