:root{
  font-size: 100%;
  font-size: 16px;
  line-height: 1.5;

}

body{
  padding: 0;
  margin: 0;
  font-family: 'poppins', sans-serif;
  font-weight: 500;
}
h1{
  font-family: 'poppins', sans-serif;
  font-size: 2.0rem;
  font-weight: 400;
  font-size: 40px;
  text-align: left;
  margin-bottom: 80px;
}

h2{
  font-size: 2.8rem;
  font-weight: 900;
  margin-bottom: 10px;
}

h3{
  font-size: 2.0rem;
  font-weight: 900;
  margin-bottom: 55px;
}

.nav-links a {
  text-decoration: none;
  color: #424242;
  font-size: 1.2rem;
  padding-left: 35rem;
  display: inline-block;
}
.nav-links a:hover{
  color: #eb3349;
}

.header-container {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  background: white;
  z-index: 10;
}
.split_screen{
  display: flex;
  flex-direction: column;
}
.left{
  height: 500px;
}
.left, .right{
  display: flex;
  justify-content: center;
  align-items: center;
}
.left{
  background: linear-gradient(#eb3349, #f45c43);
  background-size: cover;
}
.left .lft{
  color: white;
  text-align: center;
}
.left .lft p{
  margin-bottom: 15px;
  font-weight: 300;
  font-family: "poppins"
}

.right .rght{
  color: black;
  text-align: center;
}
.right form{
  width: 420px;
  height: auto;
}

#addSupp, #suppDetail{
  background: none;
  color: white;
  display: block;
  width: 100%;
  font-family: "poppins";
  font-weight: 700;
  padding: 1rem;
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  text-transform: uppercase;
  margin-bottom: 13px;
  transition: 0.5s;
}

#suppDetail:hover, #addSupp:hover{
  cursor: pointer;
  color: #eb3349;
  background-color: #FFFFFF;
  transition: 0.5s;
}

#logout {
  color: white;
  font-family: "poppins", sans-serif;
  font-size: 1.2rem;
  background: #f45c43;
  padding: 0.56rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 1rem;
  position: absolute;
  right: 3%;
  top: 3%;
  border: none;
  outline: none;
  margin-top: 1.5rem;
}

#logout:hover{
  background: #eb3349;
  cursor: pointer;
}

form input[type="text"], form input[type="tel"]{
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #c4c4c4;
  padding: 1em;
  margin-bottom: 1.25rem;
  font-size: 0..875rem;
}
form input[type="text"]:hover, form input[type="tel"]:hover{
  border-color: #f45c43;
  transition: 0.5s; 
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}
.add_details-container_s_name, .add_details-container_cmpny_name, .add_details-container_bank_acc, .add_details-container_Item, .add_details-container_Contact, .add_details-container_bank_name{
  font-size: 13px;
  font-weight: 250;
  text-align: left;
}
#submit{
  display: block;
  width: 100%;
  background-color: #f45c43;
  font-family: "poppins";
  color: white;
  font-weight: 700;
  border: none;
  padding: 1rem;
  border-radius: 8px;
  text-transform: uppercase;
}
#submit:hover{
  background: #eb3349;
  cursor: pointer;
}

@media screen and (min-width: 900px){
  .split_screen{
    flex-direction: row;
    height: 100vh;
  }
  .left, .right{
    display: flex;
    height: inherit;
  }
  .left{
    width: 35%;
  }
  .right{
    width: 65%;
  }

  .nav-links a {
    font-size: 1.3rem;
    color: black;
    flex-direction: column;
  }
}
